<ion-view view-title="Customer Due Info">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
     <h2>Due Sheet</h2>

        <div class="row header totalRow">
          <div class="col">Sr</div>
          <div class="col">Date</div>
          <div class="col">Client</div>
          <div class="col">Paid</div>
          <div class="col">Due</div>
        </div>
        <div class="row" >
          <div class="col">1</div>
          <div class="col">12/10/2016</div>
          <div class="col">Ajit</div>
          <div class="col">-</div>
          <div class="col">1200</div>
        </div>
        <div class="row" >
          <div class="col">2</div>
          <div class="col">16/10/2016</div>
          <div class="col">Ajit</div>
          <div class="col">800</div>
          <div class="col">-</div>
        </div>
        <div class="row totalRow" >
          <div class="col">Total</div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col">400</div>
        </div>

  </ion-content>
</ion-view>
